{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {{ parent() }}
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    <div>Dashboard<small data-localize="dashboard.WELCOME"></small></div><!-- START Language list-->
                </div><!-- START cards box-->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <!-- START card-->
                        <div class="card flex-row align-items-center align-items-stretch border-0">
                            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                                <em class="icon-cloud-upload fa-3x"></em></div>
                            <div class="col-8 py-3 bg-primary rounded-right">
                                <div class="h2 mt-0">1700</div>
                                <div class="text-uppercase">Uploads</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <!-- START card-->
                        <div class="card flex-row align-items-center align-items-stretch border-0">
                            <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                                <em class="icon-globe fa-3x"></em></div>
                            <div class="col-8 py-3 bg-purple rounded-right">
                                <div class="h2 mt-0">700<small>GB</small></div>
                                <div class="text-uppercase">Quota</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <!-- START card-->
                        <div class="card flex-row align-items-center align-items-stretch border-0">
                            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                                <em class="icon-bubbles fa-3x"></em></div>
                            <div class="col-8 py-3 bg-green rounded-right">
                                <div class="h2 mt-0">500</div>
                                <div class="text-uppercase">Reviews</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <!-- START date widget-->
                        <div class="card flex-row align-items-center align-items-stretch border-0">
                            <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
                                <div class="text-center">
                                    <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                                    <div class="text-sm" data-now="" data-format="MMMM"></div>
                                    <br>
                                    <div class="h2 mt-0" data-now="" data-format="D"></div>
                                </div>
                            </div>
                            <div class="col-8 py-3 rounded-right">
                                <div class="text-uppercase" data-now="" data-format="dddd"></div>
                                <br>
                                <div class="h2 mt-0" data-now="" data-format="H:mm"></div>
                                <small class="text-muted text-sm">Uhr</small>
                            </div>
                        </div><!-- END date widget-->
                    </div>
                </div><!-- END cards box-->
                <div class="row">
                    <!-- START dashboard main content-->
                    <div class="col-xl-9">
                        <!-- START chart-->
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- START card-->
                                <div class="card card-default card-demo" id="cardChart9">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Kommender Spieltag</div>
                                        </div>
                                        <div class="card-body">
                                            <div id="datatable1_wrapper"
                                                 class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped my-4 w-100 dataTable no-footer dtr-inline"
                                                               id="datatable1" role="grid"
                                                               aria-describedby="datatable1_info"
                                                               style="width: 1831px;">
                                                            <thead>
                                                            <tr role="row">
                                                                <th data-priority="1" class="sorting_asc" tabindex="0"
                                                                    aria-controls="datatable1" rowspan="1" colspan="1"
                                                                    style="width: 253px;" aria-sort="ascending"
                                                                    aria-label="Engine: activate to sort column descending">
                                                                    Home
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="datatable1" rowspan="1" colspan="1"
                                                                    style="width: 446px;"
                                                                    aria-label="Browser: activate to sort column ascending">
                                                                    Away
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="datatable1" rowspan="1" colspan="1"
                                                                    style="width: 446px;"
                                                                    aria-label="Browser: activate to sort column ascending">
                                                                    Result
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if games is empty %}
                                                            <p>Es wurden keine Spiele in der Datenbank gefunden</p>
                                                            {% else %}
                                                            {% for game in games %}
                                                                <tr role="row">
                                                                    <td tabindex="0"
                                                                        class="sorting_1"><a
                                                                                href="{{ path('team', {team: game.home}) }}">{{ game.home }}</a>
                                                                    </td>
                                                                    <td tabindex="0"
                                                                        class="sorting_1"><a
                                                                                href="{{ path('team', {team: game.away}) }}">{{ game.away }}</a>
                                                                    </td>
                                                                    <td tabindex="0"
                                                                        class="sorting_1">{{ game.result }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- END card-->
                            </div>
                        </div><!-- END chart-->
                    </div><!-- END dashboard main content-->
                    <!-- START dashboard sidebar-->
                    <aside class="col-xl-3">
                        <!-- START loader widget-->
                        <div class="card card-default">
                            <div class="card-body">
                                <div class="text-info">Average Monthly Uploads</div>
                                <div class="text-center py-4">
                                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70"
                                         data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}"
                                         data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                                         data-scale-Color="false" data-line-width="10" data-line-cap="round"
                                         data-size="145"><span>70%</span></div>
                                </div>
                                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30"
                                     data-bar-width="5" data-bar-spacing="2"
                                     data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
                            </div>
                            <div class="card-footer">
                                <p class="text-muted"><em class="fa fa-upload fa-fw"></em><span>This Month</span><span
                                            class="text-dark">1000 Gb</span></p>
                            </div>
                        </div><!-- END loader widget-->
                    </aside><!-- END dashboard sidebar-->
                </div>
            </div>
        </section><!-- Page footer-->
        <footer class="footer-container"><span>&copy; 2020 - Angle</span></footer>
    </div>
{% endblock %}
